[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
pyramid-tm = "==2.6"
requests = "==2.32.3"
sqlalchemy = "==2.0.38"
"zope.interface" = "==7.2"
"zope.sqlalchemy" = "==3.1"
python-slugify = "==8.0.4"
inflect = "==7.5.0"

[dev-packages]
towncrier = "==24.8.0"
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
coverage = "==7.6.10"
mock = "==5.1.0"
requests-mock = "==1.12.1"
black = "==25.1.0"
tbump = "==6.11.0"
ruff = "==0.9.5"
