[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
pyramid-tm = "==2.6"
requests = "==2.32.4"
sqlalchemy = "==2.0.41"
"zope.interface" = "==7.2"
"zope.sqlalchemy" = "==3.1"
python-slugify = "==8.0.4"
inflect = "==7.5.0"

[dev-packages]
towncrier = "==24.8.0"
pytest = "==8.4.1"
pytest-cov = "==6.2.1"
coverage = "==7.9.1"
mock = "==5.2.0"
requests-mock = "==1.12.1"
tbump = "==6.11.0"
