[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.1"
pyramid-tm = "==2.5"
requests = "==2.31.0"
sqlalchemy = "==2.0.19"
"zope.interface" = "==5.5.2"
"zope.sqlalchemy" = "==1.6"
python-slugify = "==8.0.1"
inflect = "==7.0.0"

[dev-packages]
towncrier = "==23.6.0"
pytest = "==7.4.0"
pytest-cov = "==4.1.0"
coverage = "==7.3.0"
mock = "==5.1.0"
requests-mock = "==1.11.0"
black = "==23.7.0"
pycodestyle = "==2.11.0"
tbump = "==6.10.0"
pydocstyle = {version = "==6.3.0", extras = ["toml"]}
