name: Run linters

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  basic_linters:
    uses: fizyk/actions-reuse/.github/workflows/linters-python.yml@v1.6.2
    with:
      pipenv: true
